@import 'src/styles/responsive';

.main-content {
  width: 100%;
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: 20px;

  @include responsive(mobile) {
    padding: 10px;
  }

  @include responsive(tablet) {
    padding: 16px;
  }

  @include responsive(desktop) {
    padding: 24px;
  }
}
